{% load static %}
{% load crispy_forms_tags %}
<div class="container margin-top">
    <div class="row">
        <div class="col-12 col-lg-12 col-md-12 col-sm-12">
            <div class="row">
                <div class="col-6 col-lg-6 col-md-6 col-sm-12">
                    <div class="card">
                        <div class="card-header"> ورود</div>
                        <div class="card-body">

                            <div class="input-group mb-3 form-width" id="show_hide_password">

                                {% crispy form %}

                                </div>
                            </div>
                        </div>
                </div>
            </div>
        </div>

    </div>
</div>


<script>
$(document).ready(function() {
    $("#div_id_password a").on('click', function(event) {
        event.preventDefault();
        if($('#div_id_password input').attr("type") == "text"){
            $('#div_id_password input').attr('type', 'password');
            $('#div_id_password i').addClass( "fa-eye-slash" );
            $('#div_id_password i').removeClass( "fa-eye" );
        }else if($('#div_id_password input').attr("type") == "password"){
            $('#div_id_password input').attr('type', 'text');
            $('#div_id_password i').removeClass( "fa-eye-slash" );
            $('#div_id_password i').addClass( "fa-eye" );
        }
    });
});
</script>
