@import 'index/list_movies.css';
@import 'common/navbar.css';
@import 'index/sidebar.css';
@import 'common/footer.css';
@import 'index/list_cinema.css';
@import 'index/register_login.css';
{% load static %}


/* Common */
body {

	/* background: url('../img/background_image.png') repeat; */


	
		background-color:#eeeeee;
}

ul, li {
	list-style-type: none;
}

.white-color{
	color: #fff;
}

@font-face {
  font-family: 'isans';
  src: url('../fonts/isans.woff')  format("woff"),
       local('woff');
}


 .margin-top {
	 margin-top: 10px;
	 margin-right: 12px;
 }

#margin-filter-movie {
	vertical-align: 6px;
}




/* Movie detail */
#main-movie-detail {
	background-color: #FAFAFA;
	padding: 10px;
	box-shadow: 0 2px 4px 0 rgba(0,0,0,.1);
	border-radius: 5px 5px 5px 0px;
	margin-bottom: 20px;
}

#img-movie-detail {
	text-align: center;
	padding-left: 10px;
	box-shadow: 0 2px 4px 0 rgba(0,0,0,.1);
	border: 9px solid #3f51b5;
	padding: 10px;
}

#movie-detail {
	
}

#name-movie-detail {
	font-size: 35px;
	color: #fff;
}

#title-movie-detail {
	background-color: #5479bc;
	border-radius: 26px;
	margin-bottom: 10px;
}

.btns-margin-top {
	margin-top: 8px;
}

.tab {
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	box-shadow: 1px 1px 1px 1px #efefef;
	border:1px solid #efefef;
	background: #fff;
	margin-bottom: 8px;
}

#custom-nav-tabs {
	border-bottom: 0 none;
}

#custom-nav-tabs li {
	margin-right: 2px;
}

#custom-nav-tabs li a {
	font-size: 16px;
	color: #333;
	padding: 10px;
	border: none;
	border-radius: 0;
	background: #fbfbfb;
	position: relative;
}

#custom-nav-tabs a.active a:after {
	content: 'aaaaa';
	position: absolute;
	bottom: -20px;
	right: 0;
	border-bottom: 20px solid transparent;
	border-right: 20px solid #03a9f4;
}