@import 'index/list_movies.css';
@import 'common/navbar.css';
@import 'index/sidebar.css';
@import 'common/footer.css';
@import 'index/list_cinema.css';
{% load static %}


/* Common */
body {

	background: url('../img/background_image.png') repeat;


		padding: 0;
		background-color:#efefef;
}

ul, li {
	list-style-type: none;
}

.white-color{
	color: #fff;
}

@font-face {
  font-family: 'isans';
  src: url('../fonts/isans.woff')  format("woff"),
       local('woff');
}


 .margin-top {
	 margin-top: 10px;
	 margin-right: 12px;
 }

#margin-filter-movie {
	vertical-align: 6px;
}


/* page login and register */

a, a:hover{
	color:#333;
  }


.form-width form {
	width: 100%;
}

.margin-top-35 {
	margin-bottom: 35px;
}


#register-form-title {
	text-align: center;
	color: #fff;
}


#login-form-title {
	text-align: center;
	color:#fff;
}

#div_id_checkbox_remember span {
	display: none;
}

#submit-id-login_form {
	width: 125px;
}

#submit-id-register_form {
	width: 125px;
}

#forget-password {
	color: red;
}

#title-forget-password {
	padding-top: 35px;
	text-align: center;
}

#img-google-plus {
	width: 80px;
	height:75px;
	object-fit: none;
}

.google-login {
	text-align: center;
	border-top: 1px solid #28a745;
	padding-top: 12px;
}

.google-login a {
	text-decoration: none;
}


.google-plus-btn {
	background-color: #ca4737;
	color: #fff;
	padding: 30px 20px;
	font-size: 16px;
	font-weight: bold;
}