/* List Movie Style*/
.card-title {
	text-align: center;
}

.btn-text {
	text-align: center;
}

.b {
	background-color:red !important;
}

.main-movie {
	box-shadow: 0 2px 4px 0 rgba(0,0,0,.1);
	background: #BBDEFB;
	border-top: 3px solid #4f6389;
	margin-bottom: 20px;
}

.card-movie {
	margin: 10px;
	/*position: relative;*/
	padding:5px;
	background-color: ghostwhite;
	border: 1px solid #e6e6e6;
	border-radius: 3px;
	border: 3px solid #5479bc;
}

.card-movie:hover {
	/* border: 2px solid #4f6389; */
	box-shadow: 0 0 5px 0 rgba(0,0,0,.26);
}

.release-date {

	text-align: center;
	bottom: 15px;
	right: 39px;
	color: black;
	font-size: 12px;
	background: #fff;
	border-radius: 6px;
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 1px;
}

.icon-release-date {
	font-size: 18px !important;
}

.release-date i {
	vertical-align: -4px;
	margin-left: 3px;
	color: #6962d1;
}


.btn-custom {
	padding: .3rem .6rem !important;
}

#span-alert-custom {
	padding: 4px;

text-align: center;

margin-top: 5px;

border: 2px solid #5479bc;
background-color: #FFF;
}

#h2-head-movie {
	text-align: center;
    padding-top: 10px;
	padding-bottom: 5px;
	font-size: 24px;
	color: #4f6389;
}

#line {
	text-align: center;
	border-bottom: 3px solid #4f6389;
}


.producer-name-movie {
	font-size: 12px;
	text-align: center;
}

.button-movie-align {
	padding: 0px;

text-align: center;

margin-bottom: 10px;

margin-top: 5px;
}

#i-search-order-movie {
	vertical-align: -3px;
}


#title-icon-video {
	width: 35px;
}


.border-bottom-zero {
	padding: 0;
}

.btn-movie-style {
	background-color: #5479bc;

font-size: 13px;

padding-left: 15px;

padding-right: 15px;
}