{% load static %}
<footer>
	<div id="main-footer">
	<div class="container-fluid">
		 
		<div class="row">
			
			<div class="col-lg-6 col-md-6 col-sm-6 footer-padding-right">
				
					<ul class="footer-ul">
						<li><a href="#">فیلم ها</a></li>
						<li><a href="#">راهنمای خرید</a></li>
						<li><a href="#">تماس با ما</a></li>
						<li><a href="#">درباره ما</a></li>
					</ul>

			</div>
			<div class="col-lg-6 col-md-6 col-sm-6">
				<img src="{% static 'img/namad1.png' %}" alt="" class="img-fluid" id="footer-enamad">
			</div>
			
		
		</div>
		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12" id="footer-padding-top">
				<div id="line-footer">
					<p id="footer-p">کلیه حقوق این وبسایت محفوظ میباشد و هر گونه دخل و تصرفی پیگرد قانونی دارد.</p>
				</div>
			</div>
		</div>
		</div>
	</div>
</footer>


<script>
$(document).ready(function() {

    $('.carousel').carousel({
        interval: 100;
    });

    $('a')

    alert('تخفیفات ویژه به مناسبت عید مبعث به پایان رسیده است');
});

</script>
</body>
</html>
