{% load static %}
<!-- movie ticket -->
	<br>
	<div class="container-fluid">
		<div class="row">


			<div class="col-4">sadasdas</div>


			<div class="col-lg-8" style="background-color:#fff; margin-right: -30px;">

				<br>
				<br>

				<div class="row">
					<div class="col-lg-3">
						<div class="card" style="width: 200px; background-color:#f3f3f3;">
							<img class="card-img-top img-fluid" src={% static 'img/film1.jpg' %} alt="Card image cap" width="100%" height="auto">
							<div class="card-body">
								<h5 class="card-title card-title-movie">نام فیلم</h5>
								<p class="card-text card-description-movie"> نام کارگردان</p>
								<div class="btn-text">
									<a href="#" class="btn btn-success">خرید بلیط</a>
								</div>

							</div>
						</div>
					</div>
					<div class="col-lg-3">
						<div class="card" style="width: 200px; background-color:#f3f3f3;">
							<img class="card-img-top img-fluid" src={% static 'img/film1.jpg' %} alt="Card image cap" width="100%" height="auto">
							<div class="card-body">
								<h5 class="card-title card-title-movie">نام فیلم</h5>
								<p class="card-text card-description-movie"> نام کارگردان</p>
								<div class="btn-text">
									<a href="#" class="btn btn-success">خرید بلیط</a>
								</div>

							</div>
						</div>
					</div>
					<div class="col-lg-3">
						<div class="card" style="width: 200px; background-color:#f3f3f3;">
							<img class="card-img-top img-fluid" src={% static 'img/film1.jpg' %} alt="Card image cap" width="100%" height="auto">
							<div class="card-body">
								<h5 class="card-title card-title-movie">نام فیلم</h5>
								<p class="card-text card-description-movie"> نام کارگردان</p>
								<div class="btn-text">
									<a href="#" class="btn btn-success">خرید بلیط</a>
								</div>

							</div>
						</div>
					</div>
					<div class="col-lg-3">
						<div class="card" style="width: 200px; background-color:#f3f3f3;">
							<img class="card-img-top img-fluid" src={% static 'img/film1.jpg' %} alt="Card image cap" width="100%" height="auto">
							<div class="card-body">
								<h5 class="card-title card-title-movie">نام فیلم</h5>
								<p class="card-text card-description-movie"> نام کارگردان</p>
								<div class="btn-text">
									<a href="#" class="btn btn-success">خرید بلیط</a>
								</div>

							</div>
						</div>
					</div>


				</div>

				<br>

				<div class="row">
                    <div class="col-lg-3">
                        <div class="card" style="width: 200px; background-color:#f3f3f3;">
                            <img class="card-img-top img-fluid" src={% static 'img/film1.jpg' %} alt="Card image cap" width="100%" height="auto">
                            <div class="card-body">
                                <h5 class="card-title card-title-movie">نام فیلم</h5>
                                <p class="card-text card-description-movie"> نام کارگردان</p>
                                <div class="btn-text">
                                    <a href="#" class="btn btn-success">خرید بلیط</a>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="card" style="width: 200px; background-color:#f3f3f3;">
                            <img class="card-img-top img-fluid" src={% static 'img/film1.jpg' %} alt="Card image cap" width="100%" height="auto">
                            <div class="card-body">
                                <h5 class="card-title card-title-movie">نام فیلم</h5>
                                <p class="card-text card-description-movie"> نام کارگردان</p>
                                <div class="btn-text">
                                    <a href="#" class="btn btn-success">خرید بلیط</a>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="card" style="width: 200px; background-color:#f3f3f3;">
                            <img class="card-img-top img-fluid" src={% static 'img/film1.jpg' %} alt="Card image cap" width="100%" height="auto">
                            <div class="card-body">
                                <h5 class="card-title card-title-movie">نام فیلم</h5>
                                <p class="card-text card-description-movie"> نام کارگردان</p>
                                <div class="btn-text">
                                    <a href="#" class="btn btn-success">خرید بلیط</a>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="card" style="width: 200px; background-color:#f3f3f3;">
                            <img class="card-img-top img-fluid" src={% static 'img/film1.jpg' %} alt="Card image cap" width="100%" height="auto">
                            <div class="card-body">
                                <h5 class="card-title card-title-movie">نام فیلم</h5>
                                <p class="card-text card-description-movie"> نام کارگردان</p>
                                <div class="btn-text">
                                    <a href="#" class="btn btn-success">خرید بلیط</a>
                                </div>

                            </div>
                        </div>
                    </div>
				</div>

                <br>
			</div>
		</div>
	</div>





<br>
<br>
<br>
<br>
<br>
<br>
<br>
