/* Menu */


#nav-main-custom {
    background-color:#1d3557;
    border-bottom: 1px solid #457b9d;
}


#line-nav-top {
    width: 100%;
    height: 30px;
    background-color: #457b9d;
    padding: 3px 0;
}

#nav-main-custom ul li > a {
    color: #ffffff;
}

#btn-sign-in {
	padding-left: 22px;
    padding-right: 22px;
    margin-left: 31px;
    margin-right: 5px;

}

#btn-register {
	margin-right: 10px;

}


#nav-description-custom {
    color: #ffffff;

text-align: center;
}


.btn-nav {
    background-color: #00ADB5;
    color: #ffffff;
    border: none;
    border-radius: 0px;
}

.btn-nav:hover {
    background-color: #457b9d;
}