/* Menu */


#nav-main-custom {
    background-color:#1d3557;
    border-bottom: 1px solid #457b9d;
}


#line-nav-top {
    width: 100%;
    height: 30px;
    background-color: #457b9d;
    padding: 3px 0;
}

#nav-main-custom ul li > a {
    color: #ffffff;
}

#btn-sign-in {
	padding-left: 22px;
    padding-right: 22px;
    margin-left: 31px;
    margin-right: 5px;

}

#btn-register {
	margin-right: 10px;

}


#nav-description-custom {
    color: #ffffff;

text-align: center;
}

.btn-nav-mobile {
    background-color: #00ADB5;
    color: #ffffff;
    border: none;
    border-radius: 0px;
}

.btn-nav {
    background-color: #00ADB5;
    color: #ffffff;
    border: none;
    border-radius: 0px;
    margin-left: 70px
}

.btn-nav:hover {
    background-color: #457b9d;
}

#navbar-brand-custom {
    padding-right: 10px;
    margin-left: 40px;
}

#search-input {
    border-radius: 0px;
    margin-right: 0px !important;
}

#btn-search {
    border-radius: 0px;
    background-color: #00ADB5;
    color: #ffffff;
    border-color: transparent;

}

#btn-search:hover {
    border-radius: 0px;
    background-color: #457b9d;
    border-color: none;
    color: #ffffff;

}


@media (max-width: 575.98px) { 
    
    .serach-container {
        margin-top: 10px;
    }

    #btn-register {
        margin: auto;
    }

    #navbar-brand-custom {
        margin-left: 0px
       
    }

}


@media (min-width: 576px) and (max-width: 767.98px) { 

    .serach-container {
        margin-top: 10px;
    }


    #btn-register {
        margin: auto;
    }

    #navbar-brand-custom {
        margin-left: 0px
       
    }
}

@media (min-width: 768px) and (max-width: 991.98px) { 

    .serach-container {
        margin-top: 10px;
    }


    #btn-register {
        margin: auto;
    }

    #navbar-brand-custom {
        margin-left: 0px
       
    }
}